<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
<div class="bg-white p-8 rounded-lg shadow-lg text-center">
    <h1 th:text="${status}" class="text-6xl font-bold text-gray-800"></h1>
    <p th:text="${error}" class="text-xl text-gray-600 mt-4"></p>
    <p th:text="${message}" class="text-gray-500 mt-2"</p>
    <a th:href="@{/login}" class="mt-6 inline-block bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition duration-300">Go Back Home</a>
</div>
</body>
</html>
